Source: ros-kinetic-range-sensor-layer
Section: misc
Priority: extra
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-angles, ros-kinetic-catkin, ros-kinetic-costmap-2d, ros-kinetic-pluginlib, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-sensor-msgs
Homepage: http://wiki.ros.org/range_sensor_layer
Standards-Version: 3.9.2

Package: ros-kinetic-range-sensor-layer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-angles, ros-kinetic-costmap-2d, ros-kinetic-pluginlib, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-sensor-msgs
Description: Navigation Layer for Range sensors like sonar and IR
