Source: ros-melodic-navigation-layers
Section: misc
Priority: extra
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-navigation-layers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-range-sensor-layer, ros-melodic-social-navigation-layers
Description: Extra navigation layers.
